.App {
    .Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .Hero {
        width: 100%;
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        margin: 50px auto 70px auto;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .Stories {
        justify-content: center;
        display: grid;
        grid-template-columns: 275px 275px 275px;
        grid-template-rows: 275px 275px;
        grid-gap: 30px;
        margin-bottom: 70px;
    }
    .Bylines {
        display: flex;
        flex-direction: row;
    }
}
